<div class="grid-wrapper overlay">
    <div class="form-wrapper grid-wrapper">
        <ng-container>
            @if(user$ | async){
            <h2 class="form__header">Edit User</h2>
            <app-form [form]="userForm" state="edit"></app-form>
            <div class="f-row btn-wrapper">
                <app-btn routerLink="">Cancel</app-btn>
                <app-btn color="primary" (click)="submit()">Save</app-btn>
            </div>
            }
            @else {
            <h2 class="form__header">Register User</h2>
            <app-form [form]="userForm" state="register"></app-form>
            <app-btn color="primary" (click)="submit()">Register</app-btn>
            }
        </ng-container>
    </div>
</div>