<mat-card appearance="raised" class="card">
    <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <br>
    <mat-card-content>
        <p>
            Hello! I'm lika, a recent graduate of the IT Academy STEP online course where I honed my skills in front-end web development. This journey has equipped me with a solid foundation in various technologies, enabling me to build modern and responsive web applications. My expertise includes:
        </p>
        <br>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
        </ul>
        <br><br>
        <p>
            During my course, I worked on several projects that helped me understand the practical aspects of web development. I learned to create user-friendly interfaces, manage state effectively with RxJS, and implement complex features using Angular's powerful framework.
        </p>
        <br><br>
        <p>
            My passion for web development drives me to continuously improve my skills and stay updated with the latest industry trends. I enjoy creating applications that are not only functional but also provide a seamless user experience.
        </p>
        <br><br>
        <p>
            Apart from coding, I love to explore new technologies, read tech blogs, and participate in coding challenges. My goal is to become a proficient full-stack developer, and I am excited about the endless possibilities that web development offers.
        </p>
    </mat-card-content>
</mat-card>
