.card {
    position: relative;
    margin-top: 40px;
    margin-inline: 300px;
    padding: 20px;
}
mat-toolbar {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
}

mat-card-header{
    display: flex;
    justify-content: center;
}

mat-card-title {
    font-size: 40px;
    font-weight: bold;
}

mat-card-content ul {
    list-style-type: disc;
    margin-left: 20px;
}
