<mat-sidenav-container class="overlay">
    <mat-sidenav mode="over" position="end" opened="false" #sidebar>
        <app-sidebar (logoutEvent)="handleLogoutOutput()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100vh;">
        <mat-toolbar class="fixed-nav">
            <a [routerLink]="['/']" class="app-name">User Management</a>

            <span class="example-spacer"></span>
            <div class="f-row">
                @if(currentUser$ | async; as user){
                @if(user.role === 'admin'){
                <a class="navbar__username" [routerLink]="['/', 'view', user.id]"> {{user.name}} (Admin) </a>
                <app-icon btn name="menu" (click)="sidebar.toggle()" />
                }
                @else {
                <a class="navbar__username" [routerLink]="['/', 'view', user.id]"> {{user.name}} (User) </a>
                <app-icon fab name="exit_to_app" (click)="logout()"></app-icon>
                }
                }
            </div>
        </mat-toolbar>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>