//? todo: theme.scss
@import 'assets/variable';

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: $link_active;
}

.f-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  gap: 20px;

  &.c {
    justify-content: center;
  }

  &.b {
    justify-content: center;
  }

  &.e {
    justify-content: center;
  }
}

.grid-wrapper {
  display: grid;
  place-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
}

.form-wrapper {
  width: 400px;
  border: 2px solid black;
  padding: 25px 10px;

  .form__header {
    margin-bottom: 20px;
  }
}