@import 'assets/variable';



/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: $link_active;
}

// flex
.f-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  gap: 20px;

  &.c {
    justify-content: center;
  }

  &.b {
    justify-content: center;
  }

  &.e {
    justify-content: center;
  }
}

// grid
.grid-wrapper {
  display: grid;
  place-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
}

// form
.form-wrapper {
  width: 400px;
  border: 2px solid black;
  padding: 25px 10px;

  .form__header {
    margin-bottom: 20px;
  }
}

// table
table {
  mat-icon:hover {
    scale: 1.12;
  }
}

@media screen and (width < 1200px) {
  app-table {
    width: 100vw !important;
  }
}

@media screen and (width < 550px) {
  app-table {


    .mdc-data-table__cell, .mdc-data-table__header-cell{
      padding: 0;
    }
    td{
      padding-left: 5px;
      padding-right: 5px;
    }
    
    td.actions {
      gap: 3px !important;
    }
  }


  .navbar__username{
    display: none !important;
  }
}

.mat-sort-header-container {
  justify-content: center;
  position: relative;
  left: 8px;
}

.id-col .mat-sort-header-container {
  justify-content: start;
}

simple-snack-bar .mdc-button__label {
  color: $snackbar_warn;
}

//form
.form__link {
  margin-bottom: 1rem;
  color: $link;
}

//sidebar
.mat-mdc-tab-body-wrapper {
  height: 100%;
  margin-top: 1rem;
}