:host{
    width: 1200px;
}

table {

    th.id-col {
        padding-left: 3px;
    }

    td.id-col {
        padding-left: 12px;
    }

    *:not(.id-col) {
        text-align: center;
    }


    td {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}