<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter()" placeholder="Ex. ium" #input [(ngModel)]="filterVal">
    @if (filterVal) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter(true)">
        <mat-icon>close</mat-icon>
    </button>
    }
</mat-form-field>
<div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="id-col"> # </th>
            <td mat-cell *matCellDef="let element" class="id-col"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="['/', 'view', element.id]"> {{element.name}} </a>
            </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        @if(isAdmin){
        <!-- role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let element" class="f-row c actions">
                <app-icon matTooltip="detailed view" matTooltipShowDelay="750" matTooltipPosition="above" name="perm_identity" [routerLink]="['/', 'view', element.id]"></app-icon>
                <app-icon matTooltip="edit user" matTooltipShowDelay="750" matTooltipPosition="above" name="edit" [routerLink]="['/', 'create', element.id]"></app-icon>
                <app-icon matTooltip="delete user" matTooltipShowDelay="750" matTooltipPosition="above" color="warn" name="delete" (click)="deleteUser(element.id)"></app-icon>
            </td>
        </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users list">
    </mat-paginator>
</div>
<!-- role Column -->
<!-- actions Column -->