.table-wrapper {
    width: 1200px;
}

table {

    .id-col {
        width: 150px;
    }

    *:not(.id-col) {
        text-align: center;
    }

    
    td {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}